{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
        <div class="card">
            
            <div class="card-header">
                <p><img src="{{ product.image.url }}" width="35%" height="400px"></p>
                <h4 class="card-title">{{product.title}}</h4>
                <h3><p><span class="badge bg-pill bg-info">{{product.price}}$</span></p></h3>
                <p>
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                      href="#">{{product.animals}}: {{product.category}}</a>
                </p>
                <h6 class="card-title">Description:</h6>
                <p class="card-text">{{product.description}}</p>
                <h6 class="card-title">Ingredients:</h6>
                <p class="card-text">{{product.ingredients}}</p>
                <p><span class="badge bg-pill bg-secondary">Available {{product.amount}} pieces</span></p>
            </div>

            <div class="card-footer">
                <a type="button" class="btn btn-info" href="{{ product.add_to_cart }}">Add to cart</a>
            </div>
        </div>
    </div>
{% endblock content %}